.sectionContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    height: var(--full-height);

    .image {
        flex: 0 0 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: top;
        }
    }


    .text {
        flex: 0 0 60%;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight: 100;
        order: 2;

        h2 {
            font-weight: 100;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
        height: auto;
    }

    .image {
        flex: 1 1 50%;
        order: 5;
    }

    .text {
        flex: 1 1 50%;
        order: 4;
        font-size: 14px !important;
    }
    
}