@import './variables.scss';

.layout {
  display: flex;
  flex-direction: column; 
}

.header {
  flex-shrink: 0;
}

.content {
  margin-top: var(--header-height);
  flex-grow: 1;
  overflow: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}